
/target/
/src/main/java/org/insightcentre/pthg24/imports/Keys.java
description/aics24/texput.log
description/aics24/pdfa.xmpi
description/aics24/aics24.xmpdata
description/aics24/aics24.log
description/aics24/aics24.blg
description/aics24/aics24.bbl
description/aics24/aics24.aux
description/aics24/aics24.abs
description/aics24/aics24.out
